@model IEnumerable<Trawell_FINAL1.Models.Bedroom>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminPageView.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.bed_num)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rental.title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.bed_num)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rental.title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
