@model IEnumerable<Trawell_FINAL1.Models.Activity_photo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminPageView.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.photo_path)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activity.activ_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="~/Areas/Admin/Uploads/@Html.DisplayFor(modelItem => item.photo_path)"width="100"height="100" ;  />   
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activity.activ_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
